<div class="about row">
    <div class="col-md-12">

       <h2>About me </h2>
        <br/>
        <p>本人是一名非主流程序员，目前就职于某知名工业自动化公司，主要参与智能机器人应用软件、IoT、机器人运动规划方面的项目。</p>
        <p>之所以非主流，就在于工业自动化与程序员之间的结合，与国内当前如火如荼的互联网发展，如社交、电商、游戏等领域的同行不同，我这是操着码农的心，拿着搬砖的薪水！</p>
        <p>不过，我很喜欢这个结合。</p>
        
        <p><strong>关于这个博客</strong></p>
    
        <p>关于这个博客的由来</p>
        <p>这些年在各位大神的博客中，github仓库中收获的也不少了，想着是时候分享一些自己的东西，希望能够帮助有需要的同行。</p>
        <p>工作以来，参与的项目都偏桌面应用，现在前端技术更新很快，希望借助建立博客的契机，实践一下基本的前端开发知识。</p>
        <p>也希望在这里能够交到一些志同道合的朋友</p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>


       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放，您如果喜欢可以赞助，赞助仅表示对文章的赞赏与支持，并不会受到特殊的待遇。如果我的文章帮助或者触动了你，可以自愿赞赏我6.66元吃一个肉夹膜:)
       <p>

       <p align="center">

       <!-- <img src="http://www.ityouknow.com/assets/images/tip.jpg" /> -->
       <br/>
            
         <!-- <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
          <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">-->
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>